*,*::before,*::after{box-sizing:border-box}
:root{color-scheme:light dark}
h1,h2{text-wrap:balance;font-weight:700;line-height:1.1}
p,ol,ul{text-wrap:pretty;max-width:55ch}
body{font-family:Georgia,serif}
h1{max-width:20ch;overflow-wrap:break-word}h2{max-width:25ch}
ol{list-style-type:upper-roman;ol{list-style-type:lower-roman}}
/* making page transitions look awesome */
@view-transition{navigation:auto}
img{max-width:min(55ch,100%);object-fit:cover;display:block;border-radius:5px}
img:has(+img){margin-bottom:0.5rem}
/*i wished to use "initial-letter", but firefox does not support it... */
section>p:first-letter{--size:2lh;font-size:var(--size);
  line-height:var(--size);padding-right:0.1em;float:left;font-weight:700}