*,*::before,*::after{box-sizing:border-box}
:root{color-scheme:light dark}
h1,h2{text-wrap:balance;font-weight:700;line-height:1.1}
p{text-wrap:pretty}
body{font-family:Georgia,serif}
h1{max-width:20ch}h2{max-width:25ch}
p,li{max-width:55ch}
/* making page transitions look awesome */
@view-transition{navigation:auto}
img{max-width:min(100%,55ch);object-fit:cover}
section>p:first-of-type:first-letter{--size:2lh;font-size:var(--size);
  line-height:var(--size);padding-right:0.2em;float:left}